@import url(https://fonts.googleapis.com/css?family=Lato);

/*<!--------------------------------------GENERAL STYLING----------------------------------------->*/


body {
    margin: 0;
    padding: 0;
}
.logo-img {
    height: 20px;
    padding-top: 15px;
    display: inline-block;
    padding-bottom: 45px;
}
.navbar  {
    border-radius: 0;
    margin-bottom: 0;
    /*position: fixed;*/
}
.nav {
    height: 100%;
}
.logo-text {
    display: inline-block;
    color: white;
}
.navbar-nav>li>a {
    font-size: 22px;
    color: #fff !important;
    margin-bottom: 0;
    font-family: 'Tangerine', sans-serif;
    padding-top: 20px;
}
.navbar-nav>li>a:hover {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
    margin-bottom: 0;
}
.navbar-nav>.active>a {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
}
.section1  {
    margin-top:0%;
}
.section1-bg  {
    position: relative;
    top:2%;
    background-image: url(../images/index/hero-banner-mob.png);
    background-repeat: no-repeat;
    background-position:64% 22%;
    background-size:1000px 65%;
    height: 750px;
    opacity: 0.75;
}
    .heading-section1  {
        position: relative;
        top:8%;
        text-align: justify;
        width: 100%;
        /*margin-top: -5%;
        margin-bottom: 2%;*/
    }
    .heading-section1 h1  {
        font-size: 34px;
        font-family: 'Lato',sans-serif;
        font-weight: 200;
        color:#080d13;
        text-align: center;
        margin-bottom: 0;
        /*padding-left: 2%;*/
    }
    .subHeading-section1 h3  {
        font-size: 24px;
        font-family: 'Lato',sans-serif;
        font-weight: 600;
        color:#0d3975;
        /*padding-left: 6%;*/
    }
    .subHeading-section1  {
        position: relative;
        top:16%;
        width: 100%;
        text-align: justify;
    }
    .whyUs {
        visibility: hidden;
        position: relative;
        top:20%;
    }
    .whyUs-points  {
        font-size: 22px;
        /*font-family: 'Lato',sans-serif;*/
        font-weight: lighter;
        color:#181819;
    }
    .get-started  {
        margin-right: auto;
        margin-left: 25%;
    }
    .button-get-started  {
        height: 55px;
        /*width:50%;*/
        padding: 10px 20px 10px 20px;
        background: #5296f6;
        color:#fff;
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 400;
        
    }

@media screen and (min-width:770px) {
     .navbar-nav>li>a {
        font-size: 22px;
        color: #fff !important;
        font-family: 'Lato', sans-serif;
        padding-top: 20px;
        margin-right: 20px;
    }
    .navbar-nav>.active>a {
        color: #000;
        background-color: #0d557d !important;
        height: 62px;
    }
    .navbar-nav>li>a:hover {
        color: #000;
        background-color: #0d557d !important;
        height: 62px;
        margin-bottom: 0;
    }
    .logo {
        margin-right: 30px;
    }
    .logo-img {
        margin-left: 50px;
        height: 20px;
        padding-top: 15px;
        display: inline-block;
        padding-bottom: 45px;
    }
    .section1  {
        margin-top:4%;
    }
    .section1-bg  {
        background-image: url(../images/index/hero-banner.png);
        background-repeat: no-repeat;
        background-position: left ;
        height: 500px;
    }
    .heading-section1  {
        position: relative;
        top:12%;
        text-align: justify;
        /*margin-top: -5%;
        margin-bottom: 2%;*/
    }
    .heading-section1 h1  {
        font-size: 42px;
        font-family: 'Lato',sans-serif;
        font-weight: 100;
        color:#4d7194;
        margin-bottom: 0;
        padding-left: 2%;
    }
    .subHeading-section1 h3  {
        font-size: 32px;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color:#468ae5;
        padding-left: 6%;
    }
    .subHeading-section1  {
        position: relative;
        top:15%;
        width: 40%;
        text-align: justify;
    }
    .whyUs {
        position: relative;
        top:20%;
        visibility: visible;
    }
    .whyUs-points  {
        font-size: 22px;
        /*font-family: 'Lato',sans-serif;*/
        font-weight: lighter;
        color:#181819;
    }

}

