@import url(https://fonts.googleapis.com/css?family=Lato);

/*<!--------------------------------------GENERAL STYLING----------------------------------------->*/

body {
    margin: 0;
    padding: 0;
}

.logo-img {
    height: 20px;
    padding-top: 15px;
    display: inline-block;
    padding-bottom: 45px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    /*position: fixed;*/
}

.nav {
    height: 100%;
}

.site-logo  {
    height: 40px;
    width: 50px;
    display: inline-block;
}

.logo-text {
    display: inline-block;
    color: white;
}

.navbar-nav>li>a {
    font-size: 22px;
    color: #fff !important;
    margin-bottom: 0;
    font-family: 'Tangerine', sans-serif;
    padding-top: 20px;
    /*padding-right: 20px;*/
}

.navbar-nav>li>a:hover {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
    margin-bottom: 0;
}

.navbar-nav>.active>a {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
}

.navbar-right {
    margin-right: 0;
}

.section1 {
    margin-top: 0%;
}

.section1-bg {
    background-image: url(../images/index/hero-banner-mob.png);
    background-repeat: no-repeat;
    background-position: 15% 23%;
    background-size: inherit;
    height: 650px;
    opacity: 0.95;
}

.heading-section1 {
    position: relative;
    top: 12%;
    text-align: justify;
    width: 100%;
}

.heading-section1 h1 {
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #4d7194;
    margin-bottom: 0;
    padding-left: 5%;
}

.subHeading-section1 {
    position: relative;
    top: 18%;
    width: 100%;
    text-align: justify;
}

.subHeading-section1 h3 {
    font-size: 27px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #0a508c;
    padding-left: 5%;
}

.whyUs {
    position: relative;
    top: 26%;
    visibility: visible;
}

.whyUs-points {
    font-size: 22px;
    font-weight: lighter;
    color: #181819;
    padding-left: 6%;
}

.get-started {
    position: relative;
    top: 32%;
    padding-left: 18%;
}

.button-get-started {
    background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px 10px 20px;
}

.button-get-started:hover {
    color: #fff;
    box-shadow: 0 -10px 1px -7px #376ebe inset;
}

.template-display {
    margin-top: 0%;
    margin-bottom: 0%;
}

.template-heading {
    /*  margin-left: auto;
    margin-right: auto;
    padding-left: 20%;*/
    text-align: center;
}

.template-heading h1 {
    font-size: 36px;
    color: #31708f;
}

.template-subheading {
    /*margin-top: 0%;*/
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.template-subheading h3 {
    font-size: 24px;
    color: #337AB6;
}

.template-large {
    margin-bottom: 0%;
}

.row-large-templates {
    padding-bottom: 10%;
    background-color: #fff;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 12%;
    height: 100%;
    /*margin-top: 5%;*/
}

.row-small-templates-2 {
    padding-bottom: 10%;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 2%;
    height: 100%;
}
    /*Flipping code*/
    .flashcard-0 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 300px;

    }
    .flashcard-1 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 300px;

    }

    .flashcard-2 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 300px;

    }

    .flashcard-3 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 300px;

    }

    .flipped, .back {
     transform: rotateY(180deg);
     -webkit-transform: rotateY(180deg); 
    }

    .front, .back {  
      -webkit-backface-visibility: hidden;       
    }
    /*Flipping code*/

.template-img{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    height: 300px;
    width: 300px;
    padding: 0;
}

.back  {
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
    height: 300px;
    width: 300px;
   text-align: center;
   position: relative;
   top:-300px;
   z-index: -10000;
}

.desc1  {
    padding-top: 2%;
    padding-bottom: 5%;
}

/*Flipping code*/
    .small-flashcard-0 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px;
    }
    .small-flashcard-1 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px
    }

    .small-flashcard-2 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px;
    }

    .small-flashcard-3 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px;
    }

    .small-flipped, .small-back {
     transform: rotateY(180deg);
     -webkit-transform: rotateY(180deg); 
    }

    .small-front, .small-back {  
      -webkit-backface-visibility: hidden;       
    }
    /*Flipping code*/


.small-back  {
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
    height: 200px;
    width: 200px;
   text-align: center;
   position: relative;
   top:-200px;
   z-index: -10000;
}

.small-desc1  {
    padding-top: 2%;
    padding-bottom: 2%;
}

.small-back h2  {
    font-size: 18px;
}

.small-desc1 p  {
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.small-back-btn-preview  {
    margin-top: 2%;
    padding: 5px 15px 5px 15px;
    margin-right: 10%;
}

.small-back-btn-select  {
    margin-top: 2%;
    padding: 5px 15px 5px 15px;
}


.template-name {
    text-align: center;
    width: 80%;
}

.row-small-templates {
    padding-bottom: 10%;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 2%;
}

.template-small {
    margin-top: 3%;
}

.smaller-template-img {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    height: 200px;
    width: 200px;
}


/*Flipping code*/
    .smallest-flashcard-0 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px;
    }
    .smallest-flashcard-1 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px
    }

    .smallest-flashcard-2 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px;
    }

    .smallest-flashcard-3 {
       -webkit-transform-style: preserve-3d;  
        transition: all 0.8s;               
        -webkit-transition: all 0.8s;
        height: 200px;
        width: 200px;
    }

    .smallest-flipped, .smallest-back {
     transform: rotateY(180deg);
     -webkit-transform: rotateY(180deg); 
    }

    .smallest-front, .smallest-back {  
      -webkit-backface-visibility: hidden;       
    }
    /*Flipping code*/


.smallest-back  {
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 2px;
    height: 200px;
    width: 200px;
   text-align: center;
   position: relative;
   top:-200px;
   z-index: -10000;
}

.smallest-desc1  {
    padding-top: 2%;
    padding-bottom: 2%;
}

.smallest-back h2  {
    font-size: 18px;
}

.small-desc1 p  {
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.small-back-btn-preview  {
    margin-top: 2%;
    padding: 5px 15px 5px 15px;
    margin-right: 10%;
}

.small-back-btn-select  {
    margin-top: 2%;
    padding: 5px 15px 5px 15px;
}

.view-all-button {
    margin-top: 3%;
    margin-left: 40%;
    /*padding-right: auto;*/
}

.view-all {
    padding: 10px 15px 10px 15px;
    background: #4281d7;
    color: white;
    font-family: 'Tangerine', sans-serif;
    font-size: 22px;
}

.view-all:hover {
    color: #fff;
}

.section3  {
    padding-top: 5%;
    padding-bottom: 0;
}

.section-tips  {
    background: #f9f9f9 no-repeat center;
    padding-bottom: 5%;
}

.tips-heading  {
    padding-top: 5%;
    text-align: center;
}

.tips-heading h1  {
    color:#132A59;
    font-family: 'Lato', sans-serif;
}

.tips-div p {
    margin-top: -1%;
    font-family: 'Lato', sans-serif
    font-size : 24px;
    padding-left: 5%;
}


.tip1 h2  {
    color: #0b75a9; 
    font-family: 'Lato', sans-serif
}

.tip2 h2  {
    color: #a51916;
}

.tip3 h2  {
    color: #0b75a9;
}

.tips-bullet  {
    height: 50px;
    width:30px;
    display: inline-block;
}

.tip1  {
    float: left;
    width: 55%;
    padding-left: 5%;
}

.tip2  {
    float: right;
    width: 55%;
    padding-left: 2%;
}

.tip3  {
    float: left;
    width: 55%;
    padding-left: 5%;
}

.view-more-tips  {
    padding-left: 42%;
    color: white;
    padding-top: 2%;
    /*padding: 10px 40px 10px 40px;*/

}

.view-more-tips-button  {
    font-size: 24px;
    font-family: 'Tangerine', sans-serif;
    color: white;
    background: #4281d7;
    padding: 10px 30px 10px 30px;    
}

.view-more-tips-button:hover {
    font-size: 24px;
    font-family: 'Tangerine', sans-serif;
    color: white;
    background: #4281d7;
    padding: 10px 30px 10px 30px;    
}

.footer-elements  {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 0;
}

.footer-div  {
    background: #101010;    
}

.contact-us  {
    color:#f1f1f1;
    line-height: 1.8em;

}

.contact-us a  {
    color:#f1f1f1;
}

.contact-us h4  {
} 

.about-developer {
    color:#f1f1f1;
    line-height: 1.8em;
    
}

.about-developer a  {
    color: #f1f1f1;

}

/*For all devices smaller than  tablet*/
@media screen and (max-width: 768px)  {
    .tip1  {
        width:100%;
        padding-left: 5%;
    }
     
     .tip2  {
        width:100%;
        padding-left: 5%;
    }

     .tip3  {
        width:100%;
        padding-left: 5%;
        padding-bottom: 10%;
    }

    .view-more-tips  {
        text-align: center;
        padding-left: 4%;

        /*width: 100%;
        /*background: #f9f9f9 no-repeat center; */
    }
}


@media screen and (min-width: 320px) and (max-width: 359px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-repeat: no-repeat;
        background-position: 62% 29%;
        background-size: inherit;
        height: 650px;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 10%;
        text-align: justify;
        width: 100%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #4d7194;
        margin-bottom: 0;
        padding-left: 2%;
    }
    .subHeading-section1 {
        position: relative;
        top: 19%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #0a508c;
        padding-left: 2%;
    }
    .whyUs {
        visibility: hidden;
    }
    .get-started {
        position: relative;
        top: 4%;
        padding-left: 24%;
    }
    .button-get-started {
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
        font-size: 22px;
        font-weight: 600;
        color: #fff;
        padding: 10px 20px 10px 20px;
    }
    .template-display {
        margin-top: -22%;
    }
    .template-heading {
        text-align: justify;
    }
    .template-subheading {
        text-align: justify;
        margin-top: 10%;
    }
    .row-large-templates {
        margin-top: -1%;
    }
    .template-heading h1 {
        font-size: 32px;
    }
    .template-subheading {
        display: none;
    }
    .row-large-templates {
        padding-right: 10%;
        padding-left: 15%;
    }
    .template-large {
        margin-bottom: 5%;
        padding-left: initial;
    }
    .template-img {
        height: 250px;
        width: 250px;
    }
    .template-name {
        width: 100%;
        margin-top: -5%;
    }

    .flashcard-1  {
        height: 250px;
        width: 250px;
    }

    .flashcard-2  {
        height: 250px;
        width: 250px;
    }

    .flashcard-3  {
        height: 250px;
        width: 250px;
    }

    .flashcard-4  {
        height: 250px;
        width: 250px;
    }

    .back  {
        height: 250px;
        width: 250px;
        top:-250px;
    }

    .desc1  {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .desc1 p  {
        font-size: 10px;
    }

    .row-small-templates {
        padding-right: 10%;
        padding-left: 15%;
    }
    .template-small {
        padding-left: initial;
    }
    .smaller-template-img {
        height: 250px;
        width: 250px;
    }
    .small-template-name {
        width: 100%;
    }
    .small-template-name h4 {
        font-size: 24px;
    }
    .row-small-templates-2 {
        display: none;
    }
    .view-all-button {
        text-align: center;
        margin-top: 10%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 62% 29%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 10%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 2%;
    }
    .subHeading-section1 {
        position: relative;
        top: 22%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
    }
    .whyUs {
        visibility: hidden;
    }
    .get-started {
        position: relative;
        top: 10%;
        padding-left: 28%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
    }
    .template-display {
        margin-top: -22%;
    }
    .template-heading {
        text-align: justify;
    }
    .template-subheading {
        text-align: justify;
        margin-top: 10%;
    }
    .row-large-templates {
        margin-top: -1%;
        padding-right: 12%;
        padding-left: 11%;
    }
    .template-heading h1 {
        font-size: 32px;
    }
    .template-subheading {
        display: none;
    }
    .template-large {
        margin-bottom: 5%;
        /*padding-left: initial;*/
    }
    .template-img {
        height: 250px;
        width: 250px;
    }
    .template-name {
        width: 100%;
        margin-top: -5%;
    }
    .row-small-templates {
        padding-right: 12%;
        padding-left: 12%;
    }
    .template-small {
        /*padding-left: initial;*/
    }
    .smaller-template-img {
        height: 250px;
        width: 250px;
    }
    .small-template-name {
        width: 100%;
    }
    .small-template-name h4 {
        font-size: 24px;
    }
    .row-small-templates-2 {
        display: none;
    }
    .view-all-button {
        text-align: center;
        margin-top: 10%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 375px) and (max-width: 384px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 62% 29%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 10%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 2%;
    }
    .subHeading-section1 {
        position: relative;
        top: 22%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
    }
    .whyUs {
        visibility: hidden;
    }
    .get-started {
        position: relative;
        top: 10%;
        padding-left: 30%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
    }
    .template-display {
        margin-top: -22%;
    }
    .template-heading {
        text-align: justify;
    }
    .template-subheading {
        text-align: justify;
        margin-top: 10%;
    }
    .row-large-templates {
        margin-top: -1%;
        padding-right: 14%;
        padding-left: 15%;
    }
    .template-heading h1 {
        font-size: 32px;
    }
    .template-subheading {
        display: none;
    }
    .template-large {
        margin-bottom: 5%;
        /*padding-left: 18px;*/
    }
    .template-img {
        height: 300px;
        width: 300px;
    }
    .template-name {
        width: 100%;
        margin-top: -5%;
    }
    .row-small-templates {
        padding-right: 14%;
        padding-left: 15%;
    }
    .smaller-template-img {
        height: 300px;
        width: 300px;
    }
    .small-template-name {
        width: 100%;
    }
    .small-template-name h4 {
        font-size: 24px;
    }
    .row-small-templates-2 {
        display: none;
    }
    .view-all-button {
        text-align: center;
        margin-top: 10%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 412px) and (max-width: 480px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 62% 29%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 10%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 2%;
    }
    .subHeading-section1 {
        position: relative;
        top: 22%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
    }
    .whyUs {
        visibility: hidden;
    }
    .get-started {
        position: relative;
        top: 10%;
        padding-left: 32%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
    }
    .template-display {
        margin-top: -22%;
    }
    .template-heading {
        text-align: justify;
    }
    .template-subheading {
        text-align: justify;
        margin-top: 10%;
    }
    .row-large-templates {
        margin-top: -1%;
        padding-right: 10%;
        padding-left: 12%;
    }
    .template-heading h1 {
        font-size: 32px;
    }
    .template-subheading {
        display: none;
    }
    .template-large {
        margin-bottom: 5%;
        padding-left: 12px;
    }
    .template-img {
        height: 300px;
        width: 300px;
    }
    .template-name {
        width: 94%;
        margin-top: -5%;
    }
    .row-small-templates {
        padding-right: 10%;
        padding-left: 12%;
    }
    .template-small {
        padding-left: 12px;
    }
    .smaller-template-img {
        height: 300px;
        width: 300px;
    }
    .small-template-name {
        width: 94%;
    }
    .small-template-name h4 {
        font-size: 24px;
    }
    .row-small-templates-2 {
        display: none;
    }
    .view-all-button {
        text-align: center;
        margin-top: 10%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 533px) and (max-width: 568px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 63% 29%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 14%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 12%;
    }
    .subHeading-section1 {
        position: relative;
        top: 26%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
    }
    .whyUs {
        visibility: hidden;
    }
    .get-started {
        position: relative;
        top: 22%;
        padding-left: 38%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
    }
}

@media screen and (min-width: 600px) and (max-width: 639px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 65% 29%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 14%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 16%;
    }
    .subHeading-section1 {
        position: relative;
        top: 29%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
    }
    .whyUs {
        visibility: hidden;
    }
    .get-started {
        position: relative;
        top: 28%;
        padding-left: 36%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
    }
    .template-display {
        margin-top: -12%;
    }
    .template-heading {
        text-align: center;
    }
    .template-subheading {
        text-align: justify;
        margin-top: 10%;
    }
    .template-heading h1 {
        font-size: 34px;
    }
    .template-subheading {
        display: block;
        text-align: center;
    }
    .template-subheading h3 {
        font-size: 26px;
    }
    .row-large-templates {
        padding-top: 8%;
        padding-right: 0;
        padding-left: 0;
    }
    .template-large {
        padding-left: 17%;
        padding-right: 0%;
        padding-bottom: 6%;
    }
    .template-img {
        height: 400px;
        width: 400px;
    }
    .template-name {
        width: 80%;
        margin-top: 0%;
    }
    .row-small-templates {
        padding-left: 0;
        padding-right: 0;
    }
    .template-small {
        padding-left: 17%;
        padding-right: 0%;
        padding-bottom: 6%;
    }
    .smaller-template-img {
        height: 400px;
        width: 400px;
    }
    .small-template-name {
        width: 80%;
    }
    .small-template-name h4 {
        font-size: 24px;
    }
    .row-small-templates-2 {
        display: none;
    }
    .view-all-button {
        text-align: center;
        margin-top: 0%;
        margin-left: 0%;
        padding-left: 1%;
    }
    .view-all {
        padding: 10px 40px 10px 40px;
        font-size: 26px;
    }
}

@media screen and (min-width: 640px) and (max-width: 642px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 65% 29%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 14%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 16%;
    }
    .subHeading-section1 {
        position: relative;
        top: 27%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 8%;
    }
    .whyUs {
        visibility: hidden;
    }
    .get-started {
        position: relative;
        top: 28%;
        padding-left: 38%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
    }
    .row-large-templates {
        padding-top: 8%;
        padding-right: 0;
        padding-left: 0;
    }
    .template-large {
        padding-left: 19%;
        padding-right: 0%;
        padding-bottom: 6%;
    }
    .template-img {
        height: 400px;
        width: 400px;
    }
    .template-name {
        width: 80%;
        margin-top: 0%;
    }
    .row-small-templates {
        padding-left: 0;
        padding-right: 0;
    }
    .template-small {
        padding-left: 19%;
        padding-right: 0%;
        padding-bottom: 6%;
    }
    .smaller-template-img {
        height: 400px;
        width: 400px;
    }
    .small-template-name {
        width: 80%;
    }
    .small-template-name h4 {
        font-size: 24px;
    }
    .row-small-templates-2 {
        display: none;
    }
    .view-all-button {
        text-align: center;
        margin-top: 0%;
        margin-left: 0%;
        padding-left: 1%;
    }
    .view-all {
        padding: 10px 40px 10px 40px;
        font-size: 26px;
    }
}

@media screen and (min-width: 732px) and (max-width: 736px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 48% 35%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 10%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 1%;
        color: #033561;
        font-weight: 600;
    }
    .subHeading-section1 {
        position: relative;
        top: 16%;
        width: 60%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
        color: #02344c;
        font-weight: 400;
    }
    .whyUs {
        position: relative;
        top: 24%;
        visibility: visible;
    }
    .whyUs-points {
        font-size: 22px;
        font-weight: 400;
        color: #080808;
        padding-left: 4%;
    }
    .get-started {
        position: relative;
        top: 33%;
        padding-left: 18%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
    }
}

@media screen and (min-width: 768px) and (max-width: 799px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 48% 35%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 13%;
    }
    .heading-section1 h1 {
        font-size: 32px;
        padding-left: 1%;
        color: #033561;
        font-weight: 600;
    }
    .subHeading-section1 {
        position: relative;
        top: 22%;
        width: 60%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 26px;
        padding-left: 2%;
        color: #02344c;
        font-weight: 400;
    }
    .whyUs {
        position: relative;
        top: 30%;
        visibility: visible;
    }
    .whyUs-points {
        font-size: 22px;
        font-weight: 400;
        color: #080808;
        padding-left: 4%;
    }
    .get-started {
        position: relative;
        top: 36%;
        padding-left: 8%;
    }
    .button-get-started {
        font-size: 28px;
        font-weight: 600;
        padding: 10px 40px 10px 40px;
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
    }
}

@media screen and (min-width: 800px) and (max-width: 810px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 46% 35%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 14%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 1%;
        color: #033561;
        font-weight: 600;
    }
    .subHeading-section1 {
        position: relative;
        top: 20%;
        width: 60%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
        color: #02344c;
        font-weight: 400;
    }
    .whyUs {
        position: relative;
        top: 27%;
        visibility: visible;
    }
    .whyUs-points {
        font-size: 22px;
        font-weight: 400;
        color: #080808;
        padding-left: 4%;
    }
    .get-started {
        position: relative;
        top: 35%;
        padding-left: 18%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
    }
    .button-get-started:hover {
        color: #fff;
        box-shadow: 0 -10px 1px -7px #376ebe inset;
    }
}

@media screen and (min-width: 960px) and (max-width: 970px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob2.png);
        background-position: 37% 35%;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .heading-section1 {
        position: relative;
        top: 17%;
    }
    .heading-section1 h1 {
        font-size: 28px;
        padding-left: 1%;
        color: #033561;
        font-weight: 600;
    }
    .subHeading-section1 {
        position: relative;
        top: 23%;
        width: 60%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 24px;
        padding-left: 2%;
        color: #02344c;
        font-weight: 400;
    }
    .whyUs {
        position: relative;
        top: 30%;
        visibility: visible;
    }
    .whyUs-points {
        font-size: 22px;
        font-weight: 400;
        color: #080808;
        padding-left: 4%;
    }
    .get-started {
        position: relative;
        top: 38%;
        padding-left: 18%;
    }
    .button-get-started {
        font-size: 22px;
        font-weight: 600;
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
    }
    .button-get-started:hover {
        color: #fff;
        box-shadow: 0 -10px 1px -7px #376ebe inset;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob.png);
        background-repeat: no-repeat;
        background-position: 2% 23%;
        background-size: 130% 600px;
        /*height: 650px;*/
        opacity: 0.95;
    }
    .heading-section1 {
        position: relative;
        top: 18%;
        text-align: justify;
        width: 100%;
    }
    .heading-section1 h1 {
        font-size: 42px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #4d7194;
        margin-bottom: 0;
        padding-left: 5%;
    }
    .subHeading-section1 {
        position: relative;
        top: 24%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 27px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #0a508c;
        padding-left: 5%;
    }
    .whyUs {
        position: relative;
        top: 32%;
        visibility: visible;
    }
    .whyUs-points {
        font-size: 22px;
        font-weight: lighter;
        color: #181819;
        padding-left: 6%;
    }
    .get-started {
        position: relative;
        top: 38%;
        padding-left: 10%;
    }
    .button-get-started {
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        padding: 10px 40px 10px 40px;
    }
    .button-get-started:hover {
        color: #fff;
        box-shadow: 0 -10px 1px -7px #376ebe inset;
    }
    .view-more-tips  {
        padding-left: 38%;
        color: white;
        padding-top: 2%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1290px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob.png);
        background-repeat: no-repeat;
        background-position: 0% 23%;
        background-size: 130% 600px;
        /*height: 650px;*/
        opacity: 0.95;
    }
    .heading-section1 {
        position: relative;
        top: 18%;
        text-align: justify;
        width: 100%;
    }
    .heading-section1 h1 {
        font-size: 42px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #4d7194;
        margin-bottom: 0;
        padding-left: 5%;
    }
    .subHeading-section1 {
        position: relative;
        top: 24%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #0a508c;
        padding-left: 5%;
    }
    .whyUs {
        position: relative;
        top: 34%;
        visibility: visible;
    }
    .whyUs-points {
        font-size: 22px;
        font-weight: lighter;
        color: #181819;
        padding-left: 6%;
    }
    .get-started {
        position: relative;
        top: 40%;
        padding-left: 10%;
    }
    .button-get-started {
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
        font-size: 26px;
        font-weight: 600;
        color: #fff;
        padding: 10px 40px 10px 40px;
    }
    .button-get-started:hover {
        color: #fff;
        box-shadow: 0 -10px 1px -7px #376ebe inset;
    }
    .row-large-templates {
        padding-left: 12%;
        padding-right: 11%;
    }
    .row-small-templates {
        padding-left: 10%;
        padding-right: 7%;
    }
    .row-small-templates-2 {
        padding-left: 10%;
        padding-right: 7%;
    }
    .small-template-name {
        width: 81%;
    }
    .view-all-button {
        margin-left: 42%;
    }
}

@media screen and (min-width: 1366px) {
    .section1-bg {
        background-image: url(../images/index/hero-banner-mob.png);
        background-repeat: no-repeat;
        background-position: 1% 23%;
        background-size: 130% 600px;
        /*height: 650px;*/
        opacity: 0.95;
    }
    .heading-section1 {
        position: relative;
        top: 14%;
        text-align: justify;
        width: 100%;
    }
    .heading-section1 h1 {
        font-size: 42px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #4d7194;
        margin-bottom: 0;
        padding-left: 5%;
    }
    .subHeading-section1 {
        position: relative;
        top: 24%;
        width: 100%;
        text-align: justify;
    }
    .subHeading-section1 h3 {
        font-size: 27px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #0a508c;
        padding-left: 5%;
    }
    .whyUs {
        position: relative;
        top: 32%;
        visibility: visible;
    }
    .whyUs-points {
        font-size: 22px;
        font-weight: lighter;
        color: #181819;
        padding-left: 6%;
    }
    .get-started {
        position: relative;
        top: 38%;
        padding-left: 10%;
    }
    .button-get-started {
        background: linear-gradient(to bottom, #5296f6 0%, #4281d7 100%);
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        padding: 10px 40px 10px 40px;
    }
    .button-get-started:hover {
        color: #fff;
        box-shadow: 0 -10px 1px -7px #376ebe inset;
    }
    .row-large-templates {
        padding-left: 12%;
        padding-right: 11%;
    }
    .row-small-templates {
        padding-left: 10%;
        padding-right: 7%;
    }
    .row-small-templates-2 {
        padding-left: 10%;
        padding-right: 7%;
    }
    .small-template-name {
        width: 81%;
    }
    .view-all-button {
        margin-left: 42%;
    }
}