@import url(https://fonts.googleapis.com/css?family=Lato);

/*<!--------------------------------------GENERAL STYLING----------------------------------------->*/


body {
    margin: 0;
    padding: 0;
}
.logo-img {
    height: 20px;
    padding-top: 15px;
    display: inline-block;
    padding-bottom: 45px;
}
.navbar  {
    border-radius: 0;
    margin-bottom: 0;
}
.nav {
    height: 100%;
}
.logo-text {
    display: inline-block;
    color: white;
}
.navbar-nav>li>a {
    font-size: 22px;
    color: #fff !important;
    margin-bottom: 0;
    font-family: 'Tangerine', sans-serif;
    padding-top: 20px;
}
.navbar-nav>li>a:hover {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
    margin-bottom: 0;
}
.navbar-nav>.active>a {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
}

@media screen and (min-width:770px) {
    .navbar-nav>li>a {
        font-size: 22px;
        color: #fff !important;
        font-family: 'Lato', sans-serif;
        padding-top: 20px;
    }
    .navbar-nav>.active>a {
        color: #000;
        background-color: #0d557d !important;
        height: 62px;
    }
    .navbar-nav>li>a:hover {
        color: #000;
        background-color: #0d557d !important;
        height: 62px;
        margin-bottom: 0;
    }
    .logo {
        margin-right: 30px;
    }
    .logo-img {
        margin-left: 50px;
        height: 20px;
        padding-top: 15px;
        display: inline-block;
        padding-bottom: 45px;
    }
    .section1-wrapper  {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        /*width: 100%;*/
        /*overflow: none;*/
    }
   .section1-wrapper  {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    /*width: 100%;*/
    }
    .row  {
        margin: 0;
        padding: 0;
    }
    .sec1  {
        padding: 0;
        margin: 0;
    }
    .section1  {
        height: 100%;
        /*width:100%;*/
        margin-top: 0;
        padding-top: 0;
    }
    .bg-section1  {
        background-image: url(../images/index/sec1-bg1.jpg);
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        /*margin-top: -1.46%;*/
        /*width: 100%;*/
    }
    .sec1-heading  {
        margin-top: 0;
        color: #fff;
        font-family: 'Loto', sans-serif;
        font-size: 36px;
        font-weight: 900;
        text-align: center;
    }
    .sec1-heading  {
        margin-bottom:2%;
        padding-top: 2%;
    }
    .section1-image  {
        height:430px;
        width:42%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
    .sec1-image  {
        /*height: 50%;
        width: 50%;*/
    }
    .sec1-subHeading  {
        margin-top: 0;
        color: #fff;
        font-family: 'Loto', sans-serif;
        font-size: 32px;
        font-weight: 400;
        text-align: center;
    }
}

