@import url(https://fonts.googleapis.com/css?family=Lato);

/*<!--------------------------------------GENERAL STYLING----------------------------------------->*/


body {
    margin: 0;
    padding: 0;
}
.logo-img {
    height: 20px;
    padding-top: 15px;
    display: inline-block;
    padding-bottom: 45px;
}
.navbar  {
    border-radius: 0;
    margin-bottom: 0;
    /*position: fixed;*/
}
.nav {
    height: 100%;
}
.logo-text {
    display: inline-block;
    color: white;
}
.navbar-nav>li>a {
    font-size: 22px;
    color: #fff !important;
    margin-bottom: 0;
    font-family: 'Tangerine', sans-serif;
    padding-top: 20px;
}
.navbar-nav>li>a:hover {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
    margin-bottom: 0;
}
.navbar-nav>.active>a {
    color: #000;
    background-color: #0d557d !important;
    height: 62px;
}
.section1  {
    margin-top:0%;
}
.section1-bg  {
    background-image: url(../images/index/hero-banner-mob2.png);
    background-repeat: no-repeat;
    background-position:62% 23%;
    background-size:inherit;
    height: 650px;
    opacity: 0.95;
}
    .heading-section1  {
        position: relative;
        top:8%;
        text-align: justify;
        width: 100%;
        /*margin-top: -5%;
        margin-bottom: 2%;*/
    }
    .heading-section1 h1  {
        font-size: 34px;
        font-family: 'Lato',sans-serif;
        font-weight: 100;
        color:#4d7194;
        margin-bottom: 0;
        /*padding-left: 2%;*/
    }
    .subHeading-section1 h3  {
        font-size: 27px;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color:#0a508c;
        /*padding-left: 6%;*/
    }
    .subHeading-section1  {
        position: relative;
        top:14%;
        width: 100%;
        text-align: justify;
    }
    .whyUs {
        visibility: visible;
    }
    .get-started  {
        position: relative;
        top:14%;
        padding-left: 26%;
        /*left:22%;*/
    }
    .button-get-started  {
        background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
        font-size: 26px;
        color:#fff;
        padding: 10px 20px 10px 20px;
    }
    @media (min-width: 320px) and (max-width: 359px)  {

        .get-started  {
            position: relative;
            top:5%;
            padding-left: 23%;
            /*left:22%;*/
        }
        .whyUs  {
            visibility: hidden;
        }
        .button-get-started  {
            background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
            font-size: 26px;
            color:#fff;
            padding: 10px 20px 10px 20px;
        }
    }
    @media (min-width: 360px) and (max-width: 375px)  {
         .subHeading-section1  {
            position: relative;
            top:17%;
            width: 100%;
            text-align: justify;
        }
        .get-started  {
            position: relative;
            top:17%;
            padding-left: 27%;
            /*left:22%;*/
        }
        .whyUs  {
            visibility: hidden;
        }
        .button-get-started  {
            background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
            font-size: 26px;
            color:#fff;
            padding: 10px 20px 10px 20px;
        }
    }

    @media (min-width: 376px) and (max-width: 384px)  {
        .subHeading-section1  {
            position: relative;
            top:17%;
            width: 100%;
            text-align: justify;
        }
        .get-started  {
            position: relative;
            top:18%;
            padding-left: 29%;
            /*left:22%;*/
        }

        .button-get-started  {
            background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
            font-size: 26px;
            color:#fff;
            padding: 10px 20px 10px 20px;
        }
    }

    @media (min-width: 385px) and (max-width: 414px)  {
        .subHeading-section1  {
            position: relative;
            top:17%;
            width: 100%;
            text-align: justify;
        }
        .get-started  {
            position: relative;
            top:18%;
            padding-left: 31%;
            /*left:22%;*/
        }
        .whyUs  {
            visibility: hidden;
        }
        .button-get-started  {
            background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
            font-size: 26px;
            color:#fff;
            padding: 10px 20px 10px 20px;
        }
    }
@media (min-width:600px) and (max-width: 639px)  {
    .section1-bg  {
        background-image: url(../images/index/hero-banner.png);
        background-repeat: no-repeat;
        background-position: 65% 23% ;
        /*height: 500px;*/
        opacity: 0.85;
    }
    .heading-section1  {
        position: relative;
        top:9%;
        text-align: center;
        /*margin-top: -5%;
        margin-bottom: 2%;*/
    }
    .heading-section1 h1  {
        font-size: 42px;
        font-family: 'Lato',sans-serif;
        font-weight: 600;
        color:#4d7194;
        margin-bottom: 0;
        padding-left: 4%;
    }
    .subHeading-section1 h3  {
        font-size: 32px;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color:#468ae5;
        padding-left: 5%;
    }
    .subHeading-section1  {
        position: relative;
        top:17%;
        /*width: 40%;*/
        text-align: center;
    }
    .whyUs {
       visibility: hidden;
    }
    
    .get-started  {
        position: relative;
        top:20%;
        padding-left: 35%;
        /*left:12%;*/
    }
    .button-get-started  {
        background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
        font-size: 26px;
        color:#fff;
        padding: 10px 20px 10px 20px;
    }
}
@media (min-width:640px) and (max-width: 760px)  {
    .section1-bg  {
        background-image: url(../images/index/hero-banner.png);
        background-repeat: no-repeat;
        background-position: 65% 23% ;
        /*height: 500px;*/
        opacity: 0.85;
    }
    .heading-section1  {
        position: relative;
        top:9%;
        text-align: center;
        /*margin-top: -5%;
        margin-bottom: 2%;*/
    }
    .heading-section1 h1  {
        font-size: 42px;
        font-family: 'Lato',sans-serif;
        font-weight: 600;
        color:#4d7194;
        margin-bottom: 0;
        padding-left: 4%;
    }
    .subHeading-section1 h3  {
        font-size: 32px;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color:#468ae5;
        padding-left: 5%;
    }
    .subHeading-section1  {
        position: relative;
        top:17%;
        /*width: 40%;*/
        text-align: center;
    }
    .whyUs {
       visibility: hidden;
    }
    
    .get-started  {
        position: relative;
        top:20%;
        padding-left: 37%;
        /*left:12%;*/
    }
    .button-get-started  {
        background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
        font-size: 26px;
        color:#fff;
        padding: 10px 20px 10px 20px;
    }
}
@media (min-width: 768px) and (max-width: 800px)  {
 .section1-bg  {
        background-image: url(../images/index/hero-banner.png);
        background-repeat: no-repeat;
        background-position: 45% 84% ;
        /*height: 500px;*/
        opacity: 0.85;
    }
    .heading-section1  {
        position: relative;
        top:9%;
        text-align: center;
        /*margin-top: -5%;
        margin-bottom: 2%;*/
    }
    .heading-section1 h1  {
        font-size: 42px;
        font-family: 'Lato',sans-serif;
        font-weight: 600;
        color:#4d7194;
        margin-bottom: 0;
        padding-left: 4%;
    }
    .subHeading-section1 h3  {
        font-size: 32px;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color:#468ae5;
        padding-left: 5%;
    }
    .subHeading-section1  {
        position: relative;
        top:17%;
        /*width: 40%;*/
        text-align: center;
    }
    .whyUs {
       visibility: hidden;
    }
    
    .get-started  {
        position: relative;
        top:20%;
        padding-left: 37%;
        /*left:12%;*/
    }
    .button-get-started  {
        background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
        font-size: 26px;
        color:#fff;
        padding: 10px 20px 10px 20px;
    }
}   
}
/*@media screen and (min-width:810px) {
    .navbar-nav>li>a {
        font-size: 22px;
        color: #fff !important;
        font-family: 'Lato', sans-serif;
        padding-top: 20px;
        margin-right: 20px;
    }
    .navbar-nav>.active>a {
        color: #000;
        background-color: #0d557d !important;
        height: 62px;
    }
    .navbar-nav>li>a:hover {
        color: #000;
        background-color: #0d557d !important;
        height: 62px;
        margin-bottom: 0;
    }
    .logo {
        margin-right: 30px;
    }
    .logo-img {
        margin-left: 50px;
        height: 20px;
        padding-top: 15px;
        display: inline-block;
        padding-bottom: 45px;
    }
    .section1  {
        margin-top:4%;
    }
    .section1-bg  {
        background-image: url(../images/index/hero-banner.png);
        background-repeat: no-repeat;
        background-position: left ;
        height: 500px;
        opacity: 1;
    }
    .heading-section1  {
        position: relative;
        top:12%;
        text-align: justify;
        margin-top: -5%;
        margin-bottom: 2%;
    }
    .heading-section1 h1  {
        font-size: 42px;
        font-family: 'Lato',sans-serif;
        font-weight: 600;
        color:#4d7194;
        margin-bottom: 0;
        padding-left: 4%;
    }
    .subHeading-section1 h3  {
        font-size: 32px;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color:#468ae5;
        padding-left: 11%;
    }
    .subHeading-section1  {
        position: relative;
        top:15%;
        width: 40%;
        text-align: justify;
    }
    .whyUs {
        position: relative;
        top:20%;
        visibility: visible;
    }
    .whyUs-points  {
        font-size: 22px;
        
        font-weight: lighter;
        color:#181819;
        padding-left:6%;
    }
    .get-started  {
        position: relative;
        top:25%;
        padding-left: 15%;
       
    }
    .button-get-started  {
        background: linear-gradient(to bottom, #5296f6 0%,#4281d7 100%);
        font-size: 26px;
        color:#fff;
        padding: 10px 20px 10px 20px;
    }*/
}

