<footer>
	<div class="container-fluid footer-div">
		<div class="row">
			<div class="footer-elements">
				<h4 class="contact-us">
					<a href=""> For feedback, queries or compliments <b>contact us</b></a>
				</h4>

				<h4 class="about-developer">
					Liked this site? <a href=""><b>Click here to know about the developer</b></a> 
				</h4>

				<h4></h4>
			</div>		
		</div>
	</div>
</footer>