<!--Links all stylesheets and scripts; contains header -->
<% include layout %>

    <!--Section 1 : Contains info about options available in this site  -->
    <!-- <div class="row">
        <div class="container-fluid section1-wrapper">

            <div class="sec1">
                <div class="section1 bg-section1 ">
                    <div class="section1-text">
                        
                            <h1 class="sec1-heading ">Your Resume says a lot about you!</h1>
                        
                        
                            <div class="section1-image ">
                                <img src="images/index/sec1-img1.jpg" class="img-responsive sec1-image">
                            </div>
                        
                        
                            <h3 class="sec1-subHeading ">We will make sure that your resume stands out from others.</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!--Section 1 : Contains info about options available in this site  -->
        <div class="container-fluid section1">
            <div class="row">
                <div class="col-md-5 col-xs-12 col-sm-12">
                    <h1 class="sec1-heading ">Your Resume says a lot about you!</h1>
                </div>

                <div class="col-md-7 col-xs-12 col-sm-12">
                    <img src="images/index/sec1-img1.jpg" class="img-responsive sec1-image">
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h3 class="sec1-subHeading ">We will make sure that your resume stands out from others.</h3>
                </div>
                    
                </div>
            </div>
        </div>

    <!--Section 1 : Contains info about options available in this site  