<!--Links all stylesheets and scripts; contains header -->
<% include layout %>

    <!--Section 1 : Section contains intro sort of something for this site -->
    <div class="container-fluid section1" id="get-started">
        <div class="row">
            <div class="section1-bg">
                <div class="col-md-12 col-xs-12 col-sm-12 heading-section1">
                    <h1 class="sec1-heading ">Your Resume says a lot about you!</h1>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 subHeading-section1">
                    <h3 class="sec1-subHeading ">We will make sure that your's stands out from others</h3>
                </div>

                <div class="col-md-12 col-xs-12 col-sm-12 whyUs">
                    <ul class="whyUs-points">
                        <li><span class="fa fa-circle"></span>Choose from a large variety of templates</li>
                        <li><span class="fa fa-circle"></span>Fill in your details</li>
                        <li><span class="fa fa-circle"></span>Within minutes, get an outstanding resume</li>

                    </ul>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 get-started">
                    <a href="" class="button-get-started btn ">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <!--Section 1 : Section contains intro sort of something for this site -->

    
    <!-- Section displays few of the available templates -->
    <div class="container-fluid template-display" id="view-templates">
        <div class="row">
            <div class="template-heading col-md-12">
                <h1>Choose from the most recommended resume formats</h1>
            </div>
            <div class="template-subheading col-md-12">
                <h3>From a variety of resume formats recommended and loved by the industry, choose the one which suits you the most.</h3>
            </div>
            <div class="row-large-templates">
                <!-- <h1>The Most Sort After Templates</h1> -->
                <% for (var i=0;i<3;i++)  { %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 template-large">
                        <img src="images/resumes/<%= 1 %>.svg" class="img img-responsive template-img">
                        <div class="template-name">
                            <h3>Farzi Template</h3>
                        </div>
                    </div>
                    <% } %>
            </div>

            <div class="row-small-templates">
                <% for (var i=0;i<4;i++)  { %>
                    <div class="col-lg-3s col-md-3 col-sm-4 col-xs-12 template-small">
                        <img src="images/resumes/<%= 2 %>.svg" class="img img-responsive smaller-template-img">
                        <div class="small-template-name">
                            <h4>Nakli Template</h4>
                        </div>
                    </div>
                    <% } %>
            </div>
            <br>
            <div class="row-small-templates-2">
                <% for (var i=0;i<4;i++)  { %>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 template-small">
                        <img src="images/resumes/<%= 3 %>.svg" class="img img-responsive smaller-template-img">
                        <div class="small-template-name">
                            <h4>Ainwayi Template</h4>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="view-all-button">
            <a href="" class="view-all btn ">View All Templates</a>
        </div>

    </div>
    </div>
    <!-- Section displays few of the available templates -->

   
    <!-- SECTION DISPLAYS TIPS FOR CREATING GOOD RESUMES  -->
    <div class="container-fluid section3" id="resume-tips">
        <div class="row section-tips">
            <div class="tips-heading">
                <h1>Tips for Creating an Awesome Resume</h1>
            </div>
            <div class="resume-tips">
                <div class="col-md-12">
                    <div class="tip1 tips-div">
                        <h2><img class="img-responsive tips-bullet" src="images/index/bullet.svg" ">        K.I.S.S  (Keep It Super Simple) :</h2>
                        <p class="tip-text">
                            Keep it as simple as possible. Do not be over creative. It is a resume not a scrap book (Unless you are trying to show your design skills).
                        </p>
                    </div>    
                </div>
                <div class="col-md-12">
                    <div class="tip2 tips-div">
                        <h2> <img class="img-responsive tips-bullet" src="images/index/bullet.svg" >     Be Yourself :</h2>
                        <p class="tip-text">
                            Keep it as simple as possible. Do not be over creative. It is a resume not a scrap book (Unless you are trying to show your design skills).
                        </p>
                    </div>    
                </div>
                <div class="col-md-12">
                    <div class="tip3 tips-div">
                        <h2><img class="img-responsive tips-bullet" src="images/index/bullet.svg">       Be Yourself :</h2>
                        <p class="tip-text">
                            Keep it as simple as possible. Do not be over creative. It is a resume not a scrap book (Unless you are trying to show your design skills).
                        </p>
                    </div>    
                </div>

                 
            </div>
            <div class="view-more-tips col-md-12">
                    <a href="" class="view-more-tips-button btn">View More Tips </a>
                </div>   
        </div>    
        <!--  --> 
    </div>
    <!-- SECTION DISPLAYS TIPS FOR CREATING GOOD RESUMES  -->

    <% include footer.ejs %>